* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #727272;
    --dark-color: #131313;
    --warning-color: #FF900E;
    --success-color: #FFF4E7;
    --shadow-color: #F2F4F4;
}

.container {
    width: 87rem;
    margin: auto;
}

/*---------------------
      Nav Section
--------------------- */
.header {
    background-color: var(--success-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

nav .logo {
    color: var(--dark-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
}

/*---------------------
Headet text box Section
--------------------- */
.header-text-box {
    width: 54rem;
    margin: auto;
}

.header-text-box h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.header-text-box p {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.6rem;
    margin-top: 1.3rem;
    color: var(--secondary-color);
}

.btn {
    width: 180px;
    height: 64px;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    color: var(--primary-color);
    background-color: var(--warning-color);
}

.header-text-box,
.btn {
    text-align: center;
    margin-top: 1.3rem;
}

.header-banner {
    margin-top: 1.3rem;
    text-align: center;
}

.header-banner img {
    height: 40rem;
}

/*---------------------
    Hero Section
--------------------- */
.hero-section {
    margin-top: 4.4rem;
    display: flex;
}

.hero-img-box {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}

.hero-img-box img {
    height: 21rem;
    width: 21rem;
}

.hero-text-box {
    width: 50%;
}

.hero-taxt {
    width: 34rem;
    margin: 13rem 5rem;
}

.hero-taxt h3 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--dark-color);
}

.hero-taxt span:first-child {
    color: var(--secondary-color);
}

.hero-taxt span:last-child {
    color: var(--warning-color);
}

.hero-taxt p {
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin-top: 1.3rem;
    color: var(--secondary-color);
}

/*---------------------
    Main Section
--------------------- */
.main-section {
    margin-top: 5rem;
    display: flex;
}

.main-text-box {
    width: 50%;
}

.main-title {
    width: 30rem;
    font-size: 3rem;
    font-weight: 600;
    padding: 2rem;
    height: 1% 0;
    border-left: 5px solid var(--warning-color);
    color: var(--dark-color);
}

.main-discription {
    width: 36rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--secondary-color);
}

.main-item {
    padding: 2rem 0 0 3rem;
    width: 36rem;
    box-shadow: 2px 5px 5px 0px var(--shadow-color);
    border-radius: 1rem;
}

.main-item h4 {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--dark-color);
}

.main-item p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--secondary-color);
}

.main-img-box {
    width: 50%;
    text-align: center;
}

.main-img-box img {
    height: 50rem;
}

.Experience {
    margin-left: 40%;
    margin-top: -14rem;
    position: absolute;
}

.exp {
    width: 21rem;
    height: 12.5rem;
    border-radius: .8rem;
    text-align: center;
    margin-top: 20%;
    background-color: var(--warning-color);
    color: var(--primary-color);
}

.exp h1 {
    font-size: 3rem;
    font-weight: 800;
    padding: 18% 0 0;
}

.exp p {
    font-size: 1rem;
    font-weight: 400;
}

/*---------------------
    discption Section
--------------------- */
.discption-section {
    width: 34rem;
    margin-top: 10rem;
}

.discption-section h3 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--dark-color);
    margin-bottom: .8rem;
}

.discption-section p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--secondary-color);
}

.discption-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 100px;
    padding: 2rem;
}

.discption-item .item {
    height: 15rem;
    width: 15rem;
    text-align: center;
    border: 2px solid var(--warning-color);
}

.discption-item .item img {
    margin-top: 23%;
    transition: width 2s, height 2s, transform 2s;
}

.discption-item .item img:hover {
    transform: rotate(360deg);
    cursor: pointer;
}

.item p {
    margin-top: -.7rem;
}

/*---------------------
    Sponspors Section
--------------------- */
.sponspors-section {
    margin-top: 4rem;
}

.sponspors-section h3 {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--dark-color);
}

.sponspors-section p {
    width: 30rem;
    text-align: center;
    margin: auto;
    line-height: 1.8rem;
    margin-bottom: 3rem;
    color: var(--secondary-color);
}

.sponspore-icon {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponspore-icon img {
    filter: grayscale(100%);
}

/*---------------------
    services Section
--------------------- */
.services-header {
    margin-top: 4rem;
}

.services-header h3 {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--dark-color);
}

.services-header p {
    width: 30rem;
    text-align: center;
    margin: auto;
    line-height: 1.8rem;
    margin-bottom: 3rem;
    color: var(--secondary-color);
}

.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.3rem;
    margin: 6.3rem;
}

.service-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 1.2rem;
    border: 5px solid var(--success-color);
    border-radius: .8rem;
}

.service-img {
    width: 6.2rem;
    height: 5rem;
    display: flex;
    margin-right: 2.8rem;
    justify-content: center;
    align-items: center;
    margin-right: 2.5;
}

.service-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.service-text {
    margin-right: auto;
}

.service-text h3 {
    font-size: 2rem;
    color: var(--dark-color);
}

.service-text p {
    margin-top: 2px;
    font-size: 1rem;
    line-height: 1.8rem;
    color: var(--secondary-color);
}

/*---------------------
    Footer Section
--------------------- */
.footer {
    height: 6.5rem;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--success-color);
}

/*---------------------
    Responsive Section
--------------------- */
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 .8rem;
        box-sizing: border-box;
    }

    /* Header Section */
    .nav-links ul li {
        padding: 1rem 0;
    }

    .header-text-box {
        width: 100%;
        margin: 2rem auto;
    }

    .header-text-box h1 {
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
    }

    .header-banner img {
        width: 100%;
        height: 50%;
    }

    /* Hero Section */
    .hero-section {
        width: 100%;
        flex-direction: column;
    }

    .hero-img-box {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .hero-img-box img {
        margin: auto;
    }

    .hero-text-box {
        width: 100%;
        padding: 0;
    }

    .hero-taxt {
        width: 100%;
        margin: 2rem 0;
        text-align: center;
    }

    .hero-taxt h3 {
        font-size: 2rem;
    }

    .hero-taxt p {
        text-align: center;
    }

    /* Main Section */
    .main-section {
        width: 100%;
        margin-top: 3rem;
        flex-direction: column;
    }

    .main-title {
        font-size: 2rem;
        text-align: center;
    }

    .main-discription {
        margin: 0 auto;
        text-align: center;
        width: 33rem;
    }

    .main-item {
        padding: 2rem 0;
        margin: auto;
        width: 33rem;
        text-align: center;
    }

    .main-item p {
        line-height: normal;
    }

    .main-img-box img {
        width: 35rem;
        height: 50%;
        text-align: center;
    }

    .Experience {
        margin-left: 32%;
        margin-top: -1rem;
    }

    .exp {
        height: 6rem;
        width: 12rem;
    }

    .exp h1 {
        font-size: 2rem;
        font-weight: 400;
        padding: 5% 0 0;
    }

    /* discption-section */
    .discption-section {
        width: 100%;
        text-align: center;
    }

    .discption-item {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
        margin: 0;
    }

    .item {
        margin-left: 25%;
    }

    /* sponspors section */
    .sponspore-icon {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 1rem;
        place-items: center;
    }

    .sponspore-icon img {
        width: 50%;
    }

    /* services */
    .services {
        display: grid;
        grid-template-columns: 1fr;
    }

    .service-box {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .service-box img {
        display: block;
        margin-left: 12.5rem;
    }

    .service-text h3 {
        font-size: 1.5rem;
        margin: 1rem;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .container {
        width: 100%;
        padding: 0 2rem;
        margin: auto;
    }

    .header {
        width: 81rem;
    }

    .header-text-box h1 {
        font-size: 3rem;
        margin-top: 3rem;
    }

    .header-banner img {
        width: 100%;
    }

    /* hero-section */
    .hero-section {
        margin-top: -8rem;
        flex-direction: column-reverse;
    }

    .hero-img-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        margin-left: 10%;
        margin-top: -8rem;
    }

    .hero-img-box img {
        margin: 2rem 5rem;
    }

    .hero-text-box {
        margin: auto;
    }

    .hero-taxt {
        text-align: center;
        width: 40rem;
    }

    .hero-taxt p {
        text-align: center;
    }

    /* Main Section */
    .main-section {
        margin: auto;
    }

    .main-text-box {
        width: 45%;
    }

    .main-img-box {
        width: 45%;
    }

    .main-img-box img {
        text-align: right;
        margin-left: 12rem;
    }

    .Experience {
        margin-top: -1rem;
    }

    /* Discption Section */
    .discption-section {
        margin-top: 20rem;
    }

    .discption-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 45%;
        grid-row-gap: 2rem;
    }

    /* Sponspors Section */
    .sponspore-icon {
        margin-left: 10%;
        gap: 3rem;
    }

    /* Services Section */
    .service-box {
        width: 35rem;
        margin-left: -2rem;
    }

    .services-header {
        margin-left: 25%;
    }

    /* Footer Section */
    .footer {
        width: 80rem;
    }
}